@page
@model HospiEnCasa.App.Frontend.Pages.MedicosModel
@{
}
<br>
<h2 class="dv-cntr"><i class="feather-32" data-feather="file-text"></i>MEDICOS</h2>
<br>
<div class="add-btn">
    <button asp-page="..\SharedPages\Details" class="btn btn-secondary" id="btn-add">Agregar Medico Nuevo</button>
</div>
<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th><i class="feather-16" data-feather="user"></i> Nombre</th>
        <th><i class="feather-16" data-feather="award"></i> Especialidad</th>
        <th><i class="feather-16" data-feather="credit-card"></i> Codigo Interno</th>
        <th><i class="feather-16" data-feather="credit-card"></i> Registro RETHUS</th>
  </tr>
    @foreach (var medico in Model.ListMedicos){
        <tr>
            <td>@medico.Id</td>
            <td>@medico.Nombre @medico.Apellidos</td>
            <td>@medico.Especialidad</td>
            <td>@medico.Codigo</td>
            <td>@medico.RegistroRethus</td>
            <td>
                <a class="btn btn-secondary table-btn" style="display:inline-block" asp-page="..\SharedPages\Details" asp-route-Id="@medico.Id">
                <i class="feather-24" data-feather="eye" style="display:inline-block"></i>
                </a>
            </td>
            <td>
                <a class="btn btn-secondary table-btn" style="display:inline-block" asp-page="..\SharedPages\Edit" asp-route-medicoId="@medico.Id">
                <i class="feather-24" data-feather="edit" style="display:inline-block"></i>
                </a>
            </td>
        </tr>
    }
</table>
<br><br>
<div class="dv-cntr">
<a asp-page="..\Index" class="btn btn-secondary"><i class="feather-32" data-feather="chevrons-left"></i></a>
</div>
