@page
@model HospiEnCasa.App.Frontend.Pages.DetailsModel
@{

}
@if(@Model.Paciente!=null){
    <div id="wrapper">
        <table border=4 id="table_detail" align=center cellpadding=20>
            <tr class="titulo"><td><i class="feather-32" data-feather="chevrons-right"></i>    @Model.Paciente.Nombre @Model.Paciente.Apellidos</td><td style="text-align:center">@Model.Paciente.Id</td></tr>
            <tr><td>    <i class="feather-32" data-feather="phone-incoming"></i>    No.Telefonico: @Model.Paciente.NumeroTelefono</td></tr>
            <tr><td>    <i class="feather-32" data-feather="triangle"></i>    Genero: @Model.Paciente.Genero</td></tr>
            <tr><td>    <i class="feather-32" data-feather="truck"></i>    Direccion: @Model.Paciente.Direccion - @Model.Paciente.Ciudad</td></tr>
            <tr><td>    <i class="feather-32" data-feather="map-pin"></i>    Ubicacion: LAT:@Model.Paciente.Latitud - LON:@Model.Paciente.Longitud</td></tr>
            <tr><td>    <i class="feather-32" data-feather="calendar"></i>    Fecha Nacimiento: @Model.Paciente.FechaNacimiento</td></tr>
        </table>
    </div>
    
    }

@if(@Model.Medico!=null){
    <div id="wrapper">
        <table border=4 id="table_detail" align=center cellpadding=15>
            <tr class="titulo"><td><i class="feather-32" data-feather="chevrons-right"></i>      @Model.Medico.Nombre @Model.Medico.Apellidos</td><td style="text-align:center">@Model.Medico.Id</td></tr>
            <tr><td>    <i class="feather-32" data-feather="award"></i>   Especialidad: @Model.Medico.Especialidad</td></tr>
            <tr><td>    <i class="feather-32" data-feather="credit-card"></i>    Codigo Interno: @Model.Medico.Codigo</td></tr>
            <tr><td>    <i class="feather-32" data-feather="credit-card"></i>    Registro RETHUS: @Model.Medico.RegistroRethus</td></tr>
            <tr><td>    <i class="feather-32" data-feather="triangle"></i>    Genero: @Model.Medico.Genero</td></tr>
            <tr><td>    <i class="feather-32" data-feather="phone-incoming"></i>    Nro.Telefonico: @Model.Medico.NumeroTelefono</td></tr>            
        </table>
    </div>
    }

@if(@Model.Enfermera!=null){
    <div id="wrapper">
        <table border=4 id="table_detail" align=center cellpadding=15>
            <tr class="titulo"><td><i class="feather-32" data-feather="chevrons-right"></i>      @Model.Enfermera.Nombre @Model.Enfermera.Apellidos</td><td style="text-align:center">@Model.Enfermera.Id</td></tr>
            <tr><td>    <i class="feather-32" data-feather="triangle"></i>    Genero: @Model.Enfermera.Genero</td></tr>
            <tr><td>    <i class="feather-32" data-feather="credit-card"></i>    Tarj. Prof: @Model.Enfermera.TarjetaProfesional</td></tr>
            <tr><td>    <i class="feather-32" data-feather="calendar"></i>    Horas Laborables: @Model.Enfermera.HorasLaborables</td></tr>
            <tr><td>    <i class="feather-32" data-feather="phone-incoming"></i>    Nro.Telefonico: @Model.Enfermera.NumeroTelefono</td></tr>        
        </table>
    </div>
    }

@if(@Model.Familiar!=null){
    <div id="wrapper">
        <table border=4 id="table_detail" align=center cellpadding=10>
            <tr class="titulo"><td><i class="feather-32" data-feather="chevrons-right"></i>      @Model.Familiar.Nombre @Model.Familiar.Apellidos</td><td style="text-align:center">@Model.Familiar.Id</td></tr>
            <tr><td>    <i class="feather-32" data-feather="triangle"></i>    Genero: @Model.Familiar.Genero</td></tr>
            <tr><td>    <i class="feather-32" data-feather="users"></i>    Parentesco: @Model.Familiar.Parentesco</td></tr>
            <tr><td>    <i class="feather-32" data-feather="mail"></i>    E-Mail: @Model.Familiar.Correo</td></tr>
            <tr><td>    <i class="feather-32" data-feather="phone-incoming"></i>    Nro.Telefonico: @Model.Familiar.NumeroTelefono</td></tr>                  
        </table>
    </div>  
}

    <br>
    <div class="dv-cntr">
        <a asp-page="..\index" class="btn btn-secondary">Listo</a>
    </div>     

<style>
    .titulo{
        font-size: 40px;
    }
    #table_detail{
        margin-top: 70px;
    }
    #wrapper {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
    }
    .dv-cntr{
        text-align:center;
        height: 32px;
    }
</style>