@page
@model HospiEnCasa.App.Frontend.Pages.FamilaresModel
@{
}
<br>
<h2 class="dv-cntr"><i class="feather-32" data-feather="file-text"></i>FAMILIARES</h2>
<br>
<div class="add-btn">
     <a asp-page=".\EditFam" class="btn btn-secondary"><i class="feather-32" data-feather="user-plus"></i></a>
</div>
<table class="table">
    <tr>
        <th>Id</th>
        <th><i class="feather-16" data-feather="user"></i> Nombre</th>
        <th><i class="feather-16" data-feather="users"></i> Parentesco</th>
  </tr>
    @foreach (var familiar in Model.ListFamiliares){
        <tr>
            <td>@familiar.Id</td>
            <td>@familiar.Nombre @familiar.Apellidos</td>
            <td>@familiar.Parentesco</td>
             <td>
                <a class="btn btn-secondary table-btn" style="display:inline-block" asp-page="..\SharedPages\Details" asp-route-Id="@familiar.Id">
                <i class="feather-24" data-feather="eye" style="display:inline-block"></i>
                </a>
            </td>
            <td>
                <a class="btn btn-secondary table-btn" style="display:inline-block" asp-page=".\EditFam" asp-route-Id="@familiar.Id">
                <i class="feather-24" data-feather="edit" style="display:inline-block"></i>
                </a>
            </td>
        </tr>
    }
</table>
<br><br>
<div class="dv-cntr">
<a asp-page="..\Index" class="btn btn-secondary"><i class="feather-32" data-feather="chevrons-left"></i></a>
</div>
